<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('header')%>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2>List users</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">FullName</th>
                                <th scope="col">Password</th>
                                <th scope="col">Username</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <% users.forEach((user)=> { %>
                                <tr id="<%=user.id%>">
                                    <th scope="row">
                                        <%=user.id%>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" value="<%=user.username%>"
                                            data-field="username" readonly>
                                    </td>
                                    <td>
                                        <input type="password" class="form-control" value="******" data-field="password"
                                            readonly>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" value="<%=user.fullname%>"
                                            data-field="fullname" readonly>
                                    </td>

                                    <td>
                                        <button class="btn btn-warning"
                                            onclick="toggleEdit('<%=user.id%>')">Edit</button>

                                        <button class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%- include('footer')%>
            <script src="/script/script.js"></script>
</body>

</html>